<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:insert="fragments/general.html :: headerfiles">
</head>

<body>
<nav th:replace="fragments/general :: navbar"></nav>

<div class="container">
	<h1 class="text-center">Wybierz clienta</h1>
	
	<form th:object="${client}" th:action="@{/clientDetails}" method="post" id="choose_client_form" autocomplete="off" class="form-group" onsubmit="return validateUserInput()">
	  <div class="row">
	  <div class="col-sm-5 form-group">
	    <label for="clientsList" style="display:block" class="label-control">Wybierz klienta</label>
	    <input list="clients" id="clientsList" th:field="${client.eMail}" class="form-control" required/>
	    <datalist id="clients" >
	      <option th:each="clientItem : ${clientsInDb}" th:value="${clientItem.eMail}"/>
	    </datalist>
	    <p id="message" align="left"></p>
  	  </div>
  	  </div>
  	  <div class="row">
  	  <div class="col-sm-2">
	    <button class="btn btn-primary" type="submit">OK</button>
	  </div>
	  </div>
	</form>
</div>

<script th:inline="javascript">
/*<![CDATA[*/
  function checkMail(client) {
    return client.eMail == document.getElementById("clientsList").value;
  }
	
  function validateUserInput() {
    let clientsInDb = /*[[${clientsInDb}]]*/;
    let client = clientsInDb.find(checkMail);
      
    if(client == undefined) {
      document.getElementById("message").innerHTML = "Brak takiego clienta w bazie";
      return false;
    }
  }
/*]]>*/
</script>

<th:block th:replace="fragments/general.html :: scripts"></th:block>
</body>
</html>