<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:insert="fragments/general.html :: headerfiles">
</head>

<body>
<nav th:replace="fragments/general :: navbar"></nav>

<div class="container">
  <h1 class="text-center">Wybierz sprzęt</h1>
	
  <table>
    <tr th:each="equip: ${equipmentsInDb}">
      <td> <a th:href="@{/equipments/{equipmentId}/equipmentDetails(equipmentId=${equip.id})}" th:text="${equip.producer}"></a></td>
      <td th:text="${equip.model}"></td>
      <td th:text="${equip.description}"></td>
    </tr> 
  </table>
</div>

<th:block th:replace="fragments/general.html :: scripts"></th:block>
</body>
</html>