<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:insert="fragments/general.html :: headerfiles">
</head>

<body>
<nav th:replace="fragments/general :: navbar"></nav>

<div class="container">
	<h1 id = "header" class="text-center">Witaj</h1>
	
	<p>Sfinalizuj tranzakcje</p>
	
	<form th:object="${rentalDate}" th:action="@{/saveTransaction}" method="post" id="chose_date_form"  autocomplete="off" class="form-group">
	 <div th:object="${client}">
	  <label for="targetReturnDate">Podaj planowaną datę zwrotu maszyny</label>
	  <input id="targetReturnDate" type="date" th:field="${rentalDate.targetReturnDate}"/>
	  
<!-- 	  <input id="clientReturn" type="text"  th:field="${client.eMail}" readonly="readonly"/> -->
	  <textarea id="clientReturn2" rows="4" name="client"></textarea>
	  <p id="clientReturn3"></p>
	  
<!-- 	  th:field="${client.firstName}" -->
<!-- th:value="${client.firstName}" -->
	  <script th:inline="javascript">
  /*<![CDATA[*/
//     var username = /*[[${client}]]*/ 'default';
//     document.getElementById("clientReturn").value = username.firstName;
//     var txt = username.firstName + "</br>" + username.lastName;
//     document.getElementById("clientReturn3").innerHTML = txt;
//     /*[[${firstName}]]*/ = "HHHHH";
    debugger;
	//alert(username.firstName);
	debugger;
	
	
	function printUser() {
	      //document.findElementById("clientMailParagraf").innerHTML += document.findElementById("clientsList").value;
	      alert("K");
	    }
	
	/*]]>*/
  </script>
	  
	  <button class="btn btn-primary" type="submit" onclick="printUser()">OK</button>
	  </div>
	</form>
	
  
</div>

<th:block th:replace="fragments/general.html :: scripts"></th:block>
</body>
</html>