<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:insert="fragments/general.html :: headerfiles">
</head>

<body>
<nav th:replace="fragments/general :: navbar"></nav>

<div class="container">
  <h1 class="text-center">Dane klienta</h1>
  
  <form th:object="${client}" th:action="@{/client/{clientId}/edit(clientId=${client.id})}" method="post" id="edit_client_form">
  <div>
    <input th:replace="fragments/output.html :: output('Imię', 'firstName', 'text')">
    <input th:replace="fragments/output.html :: output('Nazwisko', 'lastName', 'text')">
    <input th:replace="fragments/output.html :: output('e-mail', 'eMail', 'text')">
    <input th:replace="fragments/output.html :: output('telefon', 'telephone', 'text')">
    <input th:replace="fragments/output.html :: output('adres', 'address', 'text')">
    <input th:replace="fragments/output.html :: output('miasto', 'city', 'text')">
  </div>
  
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-6">
      <button id="submitButton" class="btn btn-primary" type="submit" disabled>Edytuj Dane klienta</button>
    </div>
  </div>
  </form>
  
  <input id="editButton" type="button" class="btn btn-primary" value="Tryb edycji" onclick="enableClientEdit()" />
  
  <h4>Aktywne tranzakcje</h4>
  <div class="row"> 
    <div class="col-sm-5">
      <p th:each="transaction: ${actualTransaction}"><a th:href="@{/transactions/{transactionId}(transactionId=${transaction.id})}" th:text="@{{name} {rentalDate}(name=${transaction.equipment.name}, rentalDate=${transaction.rentalDate.rentalDate})}"></a></p>
    </div>
  </div>
  
  <h4>Historia tranzakcji</h4>
  <div class="row"> 
    <div class="col-sm-5">
      <p th:each="transaction: ${unactualTransaction}"><a th:href="@{/transactions/{transactionId}(transactionId=${transaction.id})}" th:text="@{{name} {rentalDate}(name=${transaction.equipment.name}, rentalDate=${transaction.rentalDate.rentalDate})}"></a></p>
    </div>
  </div>
  
</div>

<th:block th:replace="fragments/general.html :: scripts"></th:block>

<script th:inline="javascript">
/*<![CDATA[*/
function changeReadonlyState(fieldId) {
  var textField = document.getElementById(fieldId);
  textField.readOnly = false;
}
function enableClientEdit() {
  changeReadonlyState("Imię");
  changeReadonlyState("Nazwisko");
  changeReadonlyState("e-mail");
  changeReadonlyState("telefon");
  changeReadonlyState("adres");
  changeReadonlyState("miasto");
  document.getElementById("submitButton").disabled = false;
}
/*]]>*/
</script>

</body>
</html>