<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles">
    
</head>

<body>
<nav th:replace="fragments/general :: navbar"></nav>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="text-center">Nowy klient</h1>	
			<p class="text-center">Wprowadź dane dla nowego klienta</p>
		</div>
	</div>
	
	<form th:object="${client}" th:action="@{/client/new}" method="post" id="add_client_form">
		<div>
			<input th:replace="fragments/input.html :: input('Imię', 'firstName', 'text')">
			<input th:replace="fragments/input.html :: input('Nazwisko', 'lastName', 'text')">
			<input th:replace="fragments/input.html :: input('Adres', 'address', 'text')">
			<input th:replace="fragments/input.html :: input('Miasto', 'city', 'text')">
			<input th:replace="fragments/input.html :: input('Telefon', 'telephone', 'text')">
			<input th:replace="fragments/input.html :: input('E-mail', 'eMail', 'text')">
		</div>
		
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="form-group col-sm-6">
				<button class="btn btn-primary" type="submit">Nowy użytkownik</button>
			</div>
		</div>
	</form>
</div>

<th:block th:replace="fragments/general.html :: scripts"></th:block>
</body>
</html>
