<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles">
</head>

<body onload="setFormDisplay()">
<nav th:replace="fragments/general :: navbar"></nav>

<div class="container">
	<h1 class="text-center">Wybór klienta oraz maszyny</h1>
	<p>Wybierz dane z list poniżej lub utwórz nowego klienta</p>
	
	<form th:object="${client}" th:action="@{/rentEquipment}" method="post" id="chose_user_form"  autocomplete="off" class="form-group" onsubmit="return validateUserInput()">
	  <div class="row">
	    <div class="col-sm-5 form-group">
	      <label for="clientsList" style="display:block">Wybierz klienta</label>
	      <input list="clients" id="clientsList" th:field="${client.eMail}" class="form-control" onselect="printUser()" required/>
	      <datalist id="clients" >
	        <option th:each="clientItem : ${clientsInDb}" th:value="${clientItem.eMail}"/>
	      </datalist>
	      <p id="message" align="left"></p>
  	    </div>
	  
	    <div class="col-sm-7">
	    <div class="row justify-content-end form-group">
	    <div class="col-sm-4">
	      <label class="control-label" for="clientFirstNameParagraf" >Imie: </label>
	    </div>
	    <div class="col-sm-6">
	      <input id="clientFirstNameParagraf" class="form-control" readonly></input>
	    </div>
	      
	    </div>
	    <div class="row justify-content-end form-group">
	    <div class="col-sm-4">
	      <label for="clientLastName">Nazwisko: </label>
	    </div>
	    <div class="col-sm-6">
	      <input id="clientLastName" class="form-control" readonly></input>
	    </div>
	      
	    </div>
	    <div class="row justify-content-end form-group">
	    <div class="col-sm-4">
	      <label for="clientMailParagraf">e-mail: </label>
	    </div>
	    <div class="col-sm-6">
	      <input id="clientMailParagraf" class="form-control" readonly></input>
	    </div> 
	    </div>
        </div> 
	  </div>
	  
	  <div class="row">
	  <div class="col-sm-5">
	  <div th:object="${equipment}">
	   <label for="equipList" style="display:block" class="control-label">Wybierz maszynę</label>
	  <select id="equipmentsList" th:field="${equipment.id}" onchange="printEquipment()">
	     <option th:each="equipmentItem : ${equipmentsInDb}" th:text="${equipmentItem.name}" th:value="${equipmentItem.id}"/>
	  </select>
	 </div>
	 </div>
	 <div class="col-sm-7">
	 <div class="row justify-content-end form-group">
	    <div class="col-sm-4">
	      <label class="control-label" for="equipmentName" >Nazwa: </label>
	    </div>
	    <div class="col-sm-6">
	      <input id="equipmentName" class="form-control" readonly></input>
	    </div>
	 </div>
	 <div class="row justify-content-end form-group">
	    <div class="col-sm-4">
	      <label class="control-label" for="equipmentName" >Producent: </label>
	    </div>
	    <div class="col-sm-6">
	      <input id="equipmentProducer" class="form-control" readonly></input>
	    </div>
	 </div>
	 <div class="row justify-content-end form-group">
	    <div class="col-sm-4">
	      <label class="control-label" for="equipmentName" >Model: </label>
	    </div>
	    <div class="col-sm-6">
	      <input id="equipmentModel" class="form-control" readonly></input>
	    </div>
	 </div>
	 </div>
	 </div>
	 
	 <div th:object="${rentalDate}">
	   <label for="returnDateInput">Podaj planowaną datę zwrotu</label>
	   <input id="returnDateInput" type="date" onclick="setMinDateToChoose()" th:field="${rentalDate.targetReturnDate}"/>
	 </div>
	
	<div class="row">  
	  <div class="col-sm-2">
	    <button class="btn btn-primary" type="submit">Zatwierdź dane</button>
	  </div>
	</div>
	</form>
	
	<a href="client/new">Utwórz nowego klienta</a>
</div>



<script th:inline="javascript">
  /*<![CDATA[*/
    function checkMail(client) {
      return client.eMail == document.getElementById("clientsList").value;
    }
    
    function checkEquipmentId(equipment) {
      return equipment.id == document.getElementById("equipmentsList").value;
    }
    
    function validateUserInput() {
      let clientsInDb = /*[[${clientsInDb}]]*/;
      let client = clientsInDb.find(checkMail);
      
      if(client == undefined) {
        document.getElementById("clientMailParagraf").value = "";
        document.getElementById("clientFirstNameParagraf").value = "";
        document.getElementById("clientLastName").value = "";
        document.getElementById("message").innerHTML = "Brak takiego clienta w bazie";
        return false;
      }
    }
  
    function printUser() {
      let clientsInDb = /*[[${clientsInDb}]]*/;
      let client = clientsInDb.find(checkMail);
      if(client == undefined) {
        document.getElementById("message").innerHTML = "Brak takiego clienta w bazie";
        document.getElementById("clientMailParagraf").value = " ";
        document.getElementById("clientFirstNameParagraf").value = "";
        document.getElementById("clientLastName").value = "";
      } else{
        document.getElementById("clientMailParagraf").value = client.eMail;
        document.getElementById("clientFirstNameParagraf").value = client.firstName;
        document.getElementById("clientLastName").value = client.lastName;
        document.getElementById("message").innerHTML = "";
      }
    }
    
    function printEquipment() {
      let equipmentsInDb = /*[[${equipmentsInDb}]]*/;
      let equipment = equipmentsInDb.find(checkEquipmentId);
      document.getElementById("equipmentName").value = equipment.name;
      document.getElementById("equipmentProducer").value = equipment.producer;
      document.getElementById("equipmentModel").value = equipment.model;
    }
  /*]]>*/
</script>

<script src="/resources/js/rental.js"></script>

<th:block th:replace="fragments/general.html :: scripts"></th:block>

</body>

</html>
